absl-py==0.12.0
aio-pika==6.8.0
aiofiles==0.6.0
aiohttp==3.6.2
aiormq==3.3.1
altgraph==0.17
APScheduler==3.7.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
auto-py-to-exe==2.7.11
Automat==20.2.0
bidict==0.21.2
blis==0.4.1
boto3==1.17.44
botocore==1.20.44
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.1
catalogue==1.0.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
Click==7.0
cloudpickle==1.6.0
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.3
constantly==15.1.0
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
DateTime==4.3
decorator==4.4.2
dlib==19.21.1
dm-tree==0.1.5
dnspython==1.16.0
docopt==0.6.2
Eel==0.12.4
eventlet==0.25.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fbmessenger==6.0.0
filelock==3.0.12
Flask==1.1.1
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
Flask-SocketIO==4.2.1
Flask-WTF==0.14.3
future==0.17.1
gast==0.3.3
gevent==1.5.0
gevent-websocket==0.10.1
google-api-core==1.25.1
google-auth==1.24.0
google-auth-oauthlib==0.4.4
google-cloud-vision==2.1.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
greenlet==0.4.15
grpcio==1.35.0
h11==0.9.0
h5py==2.10.0
httpcore==0.11.1
httplib2==0.19.1
httptools==0.1.1
httpx==0.15.4
humanfriendly==9.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.15.1
jsonpickle==2.0.0
jsonschema==3.2.0
kafka-python==2.0.2
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
klein==17.10.0
libcst==0.3.16
linecache2==1.0.0
Markdown==3.3.4
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.3.4
mattermostwrapper==2.2
monotonic==1.5
multidict==4.7.6
murmurhash==1.0.5
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysqlclient==2.0.3
networkx==2.5.1
nltk==3.6.2
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandas==1.2.1
Pillow==8.1.0
Pint==0.17
plac==1.1.3
preshed==3.0.5
prompt-toolkit==2.0.10
proto-plus==1.13.0
protobuf==3.14.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==2.0.1
pykwalify==1.8.0
pymongo==3.10.1
PyMySQL==1.0.2
pyparsing==2.4.7
pyrsistent==0.17.3
pyTelegramBotAPI==3.7.7
pytesseract==0.3.7
python-crfsuite==0.9.7
python-dateutil==2.7.5
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2020.5
PyYAML==3.13
pyzbar==0.1.8
questionary==1.5.2
rasa==2.4.3
rasa-nlu==0.15.1
rasa-sdk==2.4.1
rasa-x==0.0.1
redis==3.5.3
regex==2020.9.27
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rocketchat-API==1.15.0
rsa==4.7
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.3.6
sacremoses==0.0.45
sanic==20.9.0
Sanic-Cors==0.10.0.post3
sanic-jwt==1.5.0
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.24.1
scipy==1.6.2
sentencepiece==0.1.95
sentry-sdk==0.19.5
simplejson==3.17.2
simpy==4.0.1
simpy.io==0.2.3
six==1.14.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
sniffio==1.2.0
spacy==2.2.4
SQLAlchemy==1.2.19
srsly==1.0.5
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.2
tensorflow-addons==0.12.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
tensorflow-probability==0.11.1
tensorflow-text==2.3.0
termcolor==1.1.0
terminaltables==3.1.0
thinc==7.4.0
threadpoolctl==2.1.0
tokenizers==0.7.0
tqdm==4.59.0
traceback2==1.4.0
transformers==2.11.0
twilio==6.50.1
Twisted==21.2.0
typeguard==2.12.0
typing==3.7.4.3
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.3
uvloop==0.14.0
wasabi==0.8.2
wcwidth==0.2.5
webexteamssdk==1.6
websockets==8.1
Werkzeug==1.0.0
whichcraft==0.6.1
wrapt==1.12.1
WTForms==2.2.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
