<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportsera</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

     <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

     <!-- 
         RTL version
     -->
     <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
     <!-- Default theme -->
     <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
     <!-- Semantic UI theme -->
     <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
     <!-- Bootstrap theme -->
     <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>
    
    
    <link rel="stylesheet" href="css/loginstyle.css">
    <script  src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/loginscript.js"></script> 
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SPORTSERA</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
    </ul>
  </div>
</nav>
  </header>

	<div id="loginbox" class="w3-animate-zoom">
		<div id="logintext" style="font-family: georgia; font-weight: 550;">LOGIN<br></div>
		<div id="box">
<br><br>
	<div>
	<form action="http://localhost:3000/logindetail" method="POST">
		<div id="details">
  <div style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: 650;">USER-NAME:</div>
  <input type="text" name="username" class="box1" id="username"><br>
  <br><br>
  <div id="submitbutton">
  <button type = "Submit" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="font-weight: bold; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> SUBMIT </button>

</div>
</div>
</form>
</div>
</div>
</div>
</body>
</html>
