<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to capture picture from webcam with Webcam.js</title>
	  <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="css/signupstyle.css">
    <!-- <script  src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/require.js"></script>
        <script src="../js/signupscript.js"></script> -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
<form action="http://localhost:3000/signupdetail" method="POST">
	<div id="signupbox" class="w3-animate-zoom">
		<div id="signuptext">SIGN UP</div>
    <div id="subtext"> Please fill in to create an account!</div>
    <hr>
    <div>
      <video class="part2" id="player" autoplay width=500 height=230>
    </div>
    <div style="margin-left: 143px;">Kindly Sit in a Well Lit Area</div>
	<div id="details">
    <!-- <button id="capturebutton" class="btn btn-success btn-lg active" role="button" aria-pressed="true" onclick="capButton()" disabled=disabled>Capture</button> -->
    
    <input id="fileInput" type="hidden" name="imgdata" /><br>

  <!--<form action="http://localhost:3000/signupdetail" method="POST">-->
	<input type="text" name="firstname" class="box1" id="firstname" placeholder="First name">
  
  <input type="text" name="lastname" class="box1" id="lastname" placeholder="Last Name"><br><br>
  
  <input type="text" name="username" class="box1" id="username" placeholder="User-name"><br><br>
  
  <input type="text" name="mobileno" class="box1" id="mobileno" placeholder="Mobile No."><br><br>
  
  <input type="text" name="address1" class="box1" id="address1" placeholder="Address">
  
  <!-- <input type="text" name="address2" class="box1" id="address2" value="Address line2"><br><br><br>
  <input type="text" name="address3" class="box1" id="address3" value="Address line3"> -->
  <!-- <input type="text" name="zipcode" class="box1" id="zipcode" value="Zipcode"> -->
  <br><br>
  <!-- <input type="password" name="password" class="box1" id="password1" value="Password"><br><br> -->
  <input type="checkbox" name="vehicle3" value="Boat" id="tc"> I accept the terms of use and privacy policy<br><br>
    
  <div id="submitbutton">
      <button type = "Submit" id="buttonconfig" onclick="capButton()"> Submit </button>
  </div>
  </div>
  </div>
</form>
	<div>
		<canvas class="part2" id="canvas" width=500 height="230"></canvas>
	</div>
	<script src="../js/main.js"></script>
</body>
</html>
